.sb-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8px;
  box-sizing: border-box; }
  .sb-input__labeled-input {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%; }
  .sb-input--error {
    border-color: #FF0000; }
  .sb-input__input {
    width: 100%;
    outline: none;
    border: none;
    padding: 12px;
    padding-top: 18px;
    font-family: Helvetica;
    font-size: 18px;
    background: #FAFAFA;
    border: 1px solid #E6E6E6; }
    .sb-input__input:focus {
      background: white;
      border: 1px solid #FF408E; }
    .sb-input__input--disabled {
      pointer-events: none; }
    .sb-input__input--light {
      background: white !important; }
  .sb-input__label {
    position: absolute;
    font-family: Helvetica;
    font-size: 18px;
    color: #9B9B9B;
    left: 12px;
    margin-top: -9px;
    top: 50%;
    cursor: text;
    background: #FAFAFA;
    transition: all 0.13s linear; }
    .sb-input__label--disabled {
      pointer-events: none; }
    .sb-input__label--error {
      color: #FF0000; }
    .sb-input__label--light {
      background: white; }
  .sb-input__error-msg {
    font-family: Helvetica;
    color: #FF0000;
    font-size: 12px;
    color: #FF0000;
    margin-top: 5px; }
  .sb-input__input--valid + .sb-input__label,
  .sb-input__input:focus + .sb-input__label {
    top: 0;
    font-size: 12px;
    margin-top: -6px;
    background: white; }
