.sb-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: -8px;
  margin-right: -8px; }
  .sb-form__field {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 100%; }
    @media screen and (max-width: 480px) {
      .sb-form__field {
        width: 100% !important; } }
  .sb-form__text-field {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    height: 68px; }
    .sb-form__text-field span {
      font-family: Helvetica;
      font-size: 14px; }
    .sb-form__text-field--card-exp-text span {
      font-size: 18px;
      color: #9B9B9B; }
    @media screen and (max-width: 480px) {
      .sb-form__text-field {
        display: none; } }
