@import "src/mediaquery";

.sb-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  margin-left: -8px;
  margin-right: -8px;

  &__field {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 100%;
  }

  &__text-field {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    height: 68px;

    span {
      font-family: Helvetica;
      font-size: 14px;
    }

    &--card-exp-text {
      span {
        font-size: 18px;
        color: #9B9B9B;
      }
    }

    @include respond($to-phone) {
      display: none;
    };
  }

  &__icon-field {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    margin: 8px;

    img {
      width: 25px;
    }

  }
}
