@import "src/mediaquery";
@import "src/theme";

.sb-preview-item {
  display: flex;
  flex-direction: column;

  min-width: 400px;
  padding: 30px;

  border: 1px solid #E6E6E6;

  @include respond($to-laptop) {
    max-width: 100%;
    flex-direction: row;
    margin-bottom: 35px;
  };

  @include respond($to-phone) {
    min-width: 100%;
    flex-direction: column;
    border: none;
    padding: 30px 15px;
  };

  &__preview-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;

    @include respond($to-laptop) {
      max-width: 250px;
      height: 240px;
    };

    @include respond($to-phone) {
      max-width: 100%;
    };

    img {
      height: 100%;
    }
  }

  &__cost-block {
    margin-top: 40px;
    width: 100%;

    @include respond($to-laptop) {
      margin-top: 0px;
      margin-left: 30px;
    };

    @include respond($to-phone) {
      margin-top: 40px;
      margin-left: 0px;
    };
  }

  &__cost-info-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 17px;

    font-family: Helvetica;
    font-size: 14px;
    letter-spacing: 0;

    &--total {
      font-family: Helvetica;
      font-size: 16px;
      color: #151515;
      letter-spacing: 0;
    }
  }
  &__cost-info-left {

  }
  &__cost-info-right {
    
  }

  &__coupon-code {
    font-family: Helvetica;
    font-size: 16px;
    letter-spacing: 0;
    margin-top: 40px;
  }

  &__link {
    color: $main-color;
    border-bottom: 1px dashed #979797;
    cursor: pointer;

    @include respond($to-phone) {
      color: black;
    };

    &:hover {
      border-bottom: none;
    }
  }

  &__separator {
    width: 100%;
    height: 1px;
    background: #E6E6E6;
    margin-bottom: 20px;
  }

  &__group {
    display: flex;
    flex-direction: row;

    .sb-checkbox {
      margin-left: 10px;
    }
  }
}
