@import "./mediaquery";
@import './theme';

.sb-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
  margin-bottom: 250px;

  &__content {
    display: flex;
    flex-direction: column;
    max-width: $size-large;
    padding-right: 30px;

    @include respond($to-desktop) {
      width: 100%;
      padding-left: 30px;
    };

    @include respond($to-phone) {
      padding: 0;
    };
  }

  &__blocks {
    display: flex;
    flex-direction: row;
    width: 100%;

    @include respond($to-laptop) {
      flex-direction: column;
    };
  }

  &__block {
    margin-right: 40px;

    @include respond($to-laptop) {
      margin-right: 0px;
    };

    &--fill-space {
      flex: 1 1 auto;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;

    @include respond($to-phone) {
      justify-content: center;
      padding: 0 15px;
    };
  }

  &__text {
    display: inline-block;
    font-family: Helvetica;
    font-size: 16px;
    letter-spacing: 0;

    @include respond($to-phone) {
      padding: 0 15px;
    };

    &--title {
      font-size: 36px;

      @include respond($to-phone) {
        font-size: 22px;
      };
    }

    &--description {
      margin-top: 10px;
      margin-bottom: 40px;
      color: $main-color;
    }
  }

  &__form-wrapper {
    margin-bottom: 30px;

    @include respond($to-phone) {
      padding: 0 15px;
    };

    &--card {
      @include respond($to-phone) {
        padding: 0;
      };
    }
  }

  &__form-title {
    display: inline-block;
    font-family: Helvetica;
    font-size: 24px;
    letter-spacing: 0;
    margin-bottom: 20px;

    @include respond($to-phone) {
      width: 100%;
      text-align: center;
    };
  }

  &__enable-billing-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 10px;

    span {
      opacity: 0.6;
      font-family: Helvetica;
      font-size: 14px;
      color: #000000;
      text-align: left;
      line-height: 20px;
      margin-left: 10px;
    }
  }

  &__form-submit-line {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .sb-button--link {
      margin-right: 40px;
    }

    @include respond($to-phone) {
      padding: 0 15px;
    };
  }
}
