.sb-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
  margin-bottom: 250px; }
  @media screen and (max-width: 480px) {
    .sb-app {
      margin-bottom: 150px; } }
  .sb-app__content {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    padding-right: 30px; }
    @media screen and (max-width: 1200px) {
      .sb-app__content {
        width: 100%;
        padding-left: 30px; } }
    @media screen and (max-width: 480px) {
      .sb-app__content {
        padding: 0; } }
  .sb-app__blocks {
    display: flex;
    flex-direction: row;
    width: 100%; }
    @media screen and (max-width: 992px) {
      .sb-app__blocks {
        flex-direction: column; } }
  .sb-app__block {
    margin-right: 40px; }
    @media screen and (max-width: 992px) {
      .sb-app__block {
        margin-right: 0px; } }
    .sb-app__block--fill-space {
      flex: 1 1 auto; }
    .sb-app__block:last-child {
      margin-right: 0; }
  .sb-app__header {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px; }
    @media screen and (max-width: 480px) {
      .sb-app__header {
        justify-content: center;
        padding: 0 15px; } }
  .sb-app__text {
    display: inline-block;
    font-family: Helvetica;
    font-size: 16px;
    letter-spacing: 0; }
    @media screen and (max-width: 480px) {
      .sb-app__text {
        text-align: center;
        padding: 0 15px; } }
    .sb-app__text--title {
      font-size: 36px; }
      @media screen and (max-width: 480px) {
        .sb-app__text--title {
          font-size: 22px; } }
    .sb-app__text--description {
      margin-top: 10px;
      margin-bottom: 40px;
      color: #FF408E; }
  .sb-app__form-wrapper {
    margin-bottom: 30px; }
    @media screen and (max-width: 480px) {
      .sb-app__form-wrapper {
        padding: 0 15px; } }
    @media screen and (max-width: 480px) {
      .sb-app__form-wrapper--card {
        padding: 0; } }
  .sb-app__form-title {
    display: inline-block;
    font-family: Helvetica;
    font-size: 24px;
    letter-spacing: 0;
    margin-bottom: 15px; }
    @media screen and (max-width: 480px) {
      .sb-app__form-title {
        width: 100%;
        text-align: center; } }
  .sb-app__enable-billing-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 45px; }
    .sb-app__enable-billing-line span {
      opacity: 0.6;
      font-family: Helvetica;
      font-size: 14px;
      color: #000000;
      text-align: left;
      line-height: 20px;
      margin-left: 10px;
      margin-top: 4px; }
    @media screen and (max-width: 480px) {
      .sb-app__enable-billing-line {
        margin-bottom: 40px;
        margin-top: 10px; } }
  .sb-app__form-submit-line {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
    .sb-app__form-submit-line .sb-button--link {
      margin-right: 40px; }
    @media screen and (max-width: 480px) {
      .sb-app__form-submit-line {
        padding: 0 15px; } }
